footer
  .container.text-center
    hr
    p.pull-left © #{new Date().getFullYear()} Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://bitbucket.org/eduardogch/cms-perfect') Bitbucket Project
      li
        a(href='https://bitbucket.org/eduardogch/cms-perfect/issues') Issues