.sidebar
    ul#side-menu.nav
        li.sidebar-search
            .input-group.custom-search-form
                input.form-control(type='text', placeholder='Search...')
                span.input-group-btn
                    button.btn.btn-default(type='button')
                        i.fa.fa-search
        li.active
            a(href='/dashboard#/', target='_parent')
                i.fa.fa-dashboard.fa-fw
                |  Dashboard
        li
            a(href='/api#/', target='_parent')
                i.fa.fa-cubes.fa-fw
                |  API Examples
        li
            a(href='#')
                i.fa.fa-user.fa-fw
                |  Account Module
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/account#/') My Account
                li
                    a(href='/account#/documents') Documents
        li
            a(href='#')
                i.fa.fa-briefcase
                |  Admin Module
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/admin#/') Users
                li
                    a(href='/admin#/groups') Groups
        li
            a(href='#')
                i.fa.fa-money.fa-fw
                |  Payment Module
                span.fa.arrow
            ul.nav.nav-second-level
                li
                    a(href='/payment#/') History Payments
                li
                    a(href='/payment#/onetime') One-Time Payment
                li
                    a(href='/payment#/ticket') Print Payment (Oxxo)
                li
                    a(href='/payment#/recurring') Recurring Payments
                li
                    a(href='/payment#/accounts') Saved Payment Accounts
                li
                    a(href='/payment#/billing') Billing