extends ../layouts/backend

block css
  
block js
  script(src="//maps.googleapis.com/maps/api/js?sensor=false")

block content
  div(ng-controller='DashboardController')
    include boxes
    .row
      .col-lg-8
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Area Chart Example
            .btn-group.pull-right
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-chevron-down
              ul.dropdown-menu.slidedown
                li
                  a(href='#')
                    i.fa.fa-refresh.fa-fw
                    |  Refresh
                li
                  a(href='#')
                    i.fa.fa-check-circle.fa-fw
                    |  Available
                li
                  a(href='#')
                    i.fa.fa-times.fa-fw
                    |  Busy
          .panel-body
            ui-gmap-google-map(center='map.center', zoom='map.zoom')


        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Area Chart Example
            .btn-group.pull-right
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-chevron-down
              ul.dropdown-menu.slidedown
                li
                  a(href='#')
                    i.fa.fa-refresh.fa-fw
                    |  Refresh
                li
                  a(href='#')
                    i.fa.fa-check-circle.fa-fw
                    |  Available
                li
                  a(href='#')
                    i.fa.fa-times.fa-fw
                    |  Busy
                li
                  a(href='#')
                    i.fa.fa-clock-o.fa-fw
                    |  Away
                li.divider
                li
                  a(href='#')
                    i.fa.fa-sign-out.fa-fw
                    |  Sign Out
          .panel-body
            label Name:
            input(type='text', ng-model='yourName', placeholder='Enter a name here')
            br
            h1 Hello {{yourName}}!
            h2 {{bankBalance}}
            br
            h2 {{helloWorld}}
            br
            h2 {{currentSelection}}

            div(ng-view)

            form.form-horizontal(method='POST', action='/dashboard')
              input(type='hidden', name='_csrf', value=_csrf)
              .form-group
                label(class='col-sm-2 control-label', for='name') Name
                .col-sm-8
                  input.form-control(type='text', name='name', id='name')
              .form-group
                label(class='col-sm-2 control-label', for='email') Email
                .col-sm-8
                  input.form-control(type='text', name='email', id='email')
              .form-group
                label(class='col-sm-2 control-label', for='message') Body
                .col-sm-8
                  textarea.form-control(type='text', name='message', id='message', rows='7')
              .form-group
                .col-sm-offset-2.col-sm-8
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-envelope
                    | Send

      .col-lg-4
        .panel.panel-default
          .panel-heading
            i.fa.fa-bell.fa-fw
            |  Notifications Panel
          // /.panel-heading
          .panel-body
            .list-group
              a.list-group-item(href='#')
                i.fa.fa-comment.fa-fw
                |  New Comment
                span.pull-right.text-muted.small
                  em 4 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-twitter.fa-fw
                |  3 New Followers
                span.pull-right.text-muted.small
                  em 12 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-envelope.fa-fw
                |  Message Sent
                span.pull-right.text-muted.small
                  em 27 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-tasks.fa-fw
                |  New Task
                span.pull-right.text-muted.small
                  em 43 minutes ago
              a.list-group-item(href='#')
                i.fa.fa-upload.fa-fw
                |  Server Rebooted
                span.pull-right.text-muted.small
                  em 11:32 AM
              a.list-group-item(href='#')
                i.fa.fa-bolt.fa-fw
                |  Server Crashed!
                span.pull-right.text-muted.small
                  em 11:13 AM
              a.list-group-item(href='#')
                i.fa.fa-warning.fa-fw
                |  Server Not Responding
                span.pull-right.text-muted.small
                  em 10:57 AM
              a.list-group-item(href='#')
                i.fa.fa-shopping-cart.fa-fw
                |  New Order Placed
                span.pull-right.text-muted.small
                  em 9:49 AM
              a.list-group-item(href='#')
                i.fa.fa-money.fa-fw
                |  Payment Received
                span.pull-right.text-muted.small
                  em Yesterday
            // /.list-group
            a.btn.btn-default.btn-block(href='#') View All Alerts
          // /.panel-body
        // /.panel
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw
            |  Donut Chart Example
          .panel-body
            #morris-donut-chart
            a.btn.btn-default.btn-block(href='#') View Details
          // /.panel-body
        // /.panel
        .chat-panel.panel.panel-default
          .panel-heading
            i.fa.fa-comments.fa-fw
            |                             Chat
            .btn-group.pull-right
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                i.fa.fa-chevron-down
              ul.dropdown-menu.slidedown
                li
                  a(href='#')
                    i.fa.fa-refresh.fa-fw
                    |  Refresh
                li
                  a(href='#')
                    i.fa.fa-check-circle.fa-fw
                    |  Available
                li
                  a(href='#')
                    i.fa.fa-times.fa-fw
                    |  Busy
                li
                  a(href='#')
                    i.fa.fa-clock-o.fa-fw
                    |  Away
                li.divider
                li
                  a(href='#')
                    i.fa.fa-sign-out.fa-fw
                    |  Sign Out
          // /.panel-heading
          .panel-body
            ul.chat
              li.left.clearfix
                span.chat-img.pull-left
                  img.img-circle(src='http://placehold.it/50/55C1E7/fff', alt='User Avatar')
                .chat-body.clearfix
                  .header
                    strong.primary-font Jack Sparrow
                    small.pull-right.text-muted
                      i.fa.fa-clock-o.fa-fw
                      |  12 mins ago
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.right.clearfix
                span.chat-img.pull-right
                  img.img-circle(src='http://placehold.it/50/FA6F57/fff', alt='User Avatar')
                .chat-body.clearfix
                  .header
                    small.text-muted
                      i.fa.fa-clock-o.fa-fw
                      |  13 mins ago
                    strong.pull-right.primary-font Bhaumik Patel
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.left.clearfix
                span.chat-img.pull-left
                  img.img-circle(src='http://placehold.it/50/55C1E7/fff', alt='User Avatar')
                .chat-body.clearfix
                  .header
                    strong.primary-font Jack Sparrow
                    small.pull-right.text-muted
                      i.fa.fa-clock-o.fa-fw
                      |  14 mins ago
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
              li.right.clearfix
                span.chat-img.pull-right
                  img.img-circle(src='http://placehold.it/50/FA6F57/fff', alt='User Avatar')
                .chat-body.clearfix
                  .header
                    small.text-muted
                      i.fa.fa-clock-o.fa-fw
                      |  15 mins ago
                    strong.pull-right.primary-font Bhaumik Patel
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
          // /.panel-body
          .panel-footer
            .input-group
              input#btn-input.form-control.input-sm(type='text', placeholder='Type your message here...')
              span.input-group-btn
                button#btn-chat.btn.btn-warning.btn-sm
                  | Send