// Scaffolding
// -------------------------

body {
  font-family: $headings-font-family;
  font-weight: 300;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
}

h3 {
  color: $gray-light;
  font-weight: 400;
}

h4 {
  color: $gray-light;
  font-weight: 400;
  font-size: 20px;
}

a {
  color: $brand-primary;
  word-wrap: break-word;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover, a:focus {
  text-decoration: none;
  outline: 0;
}

a:before, a:after {
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

hr {
  border: 0;
  border-top: 1px solid $gray-lighter;
  margin: 1em 0;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 7px;
}

// Forms
// -------------------------

.form-control {
  height: 33px;
  font-size: 16px;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-default {
  border: 0;

  .navbar-nav > .active > a {
    color: #ffffff;
    font-weight: bold;
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }

  .navbar-nav > .open > a {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
    &:focus {
      background-color: transparent;
    }
  }
}

// Home
// -------------------------

#headerwrap {
  margin-top: -20px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top:200px;
  background: $brand-primary;
}

#headerwrap h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

#zipcode-input {
  button {
    padding: 8px 10px;
  }
  input {
    height: 41px;
  }
}

.flash-boxes {
  margin-top: 70px;
}