div
   h1 Hola mundo Admin Index
   label Name:
   input(type='text', ng-model='yourName', placeholder='Enter a name here')
   br
   h1 Hello {{yourName}}!
   h2 Controller {{bankBalance}}
   br
   h2 Service {{helloWorld}}
   br
   h2 {{currentSelection}}