.row
   .col-lg-12
      .panel.panel-default
         .panel-heading
            | Angular Smart Tables
         .panel-body
            table.table.table-striped.table-bordered.table-hover(datatable='')
               thead
                  tr
                     th ID
                     th First name
                     th Last name
               tbody
                  tr
                     td 1
                     td Foo
                     td Bar
                  tr
                     td 123
                     td Someone
                     td Youknow
                  tr
                     td 987
                     td Iamout
                     td Ofinspiration