// Forms
// -------------------------

.form-control {
  height: 33px;
  font-size: 16px;
}

// Alerts
// -------------------------

.alert {
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}

// Navbar
// -------------------------

.navbar-default {
  border: 0;

  .navbar-nav > .active > a {
    color: white;
    font-weight: bold;
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }
  }
}

// Sidebar
// -------------------------

/* Hide for mobile, show later */
.sidebar {
  display: none;

  @media (min-width: 768px) {
      position: absolute;
      top: 25px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      //padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
  }
}

.sidebar .sidebar-search {
  padding: 15px;
}

.sidebar ul li {
  border-bottom: 1px solid darken($gray-lightest, 6.5%);
  a {
    &.active {
      background-color: $gray-lighter;
    }
  }
}

.sidebar .arrow {
  float: right;
  margin-top: 3px;
  font-size: 18px;
}

.sidebar .fa.arrow:before {
  content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
  content: "\f107";
}

.sidebar .nav-second-level li,.sidebar .nav-third-level li {
  border-bottom: none !important;
}

.sidebar .nav-second-level li a {
  padding-left: 37px;
}

.sidebar .nav-third-level li a {
  padding-left: 52px;
}


// Main content
// -------------------------

.main {
  background-color: white;
  margin-top: -20px;

  @media (min-width: 768px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}